@font-face {
    font-family: 'Oswald Regular';
    src: url('fonts/Oswald-Regular.eot');
    src: url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Regular.woff') format('woff'),
    url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Oswald Medium';
    src: url('fonts/Oswald-Medium.eot');
    src: url('fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Medium.woff') format('woff'),
    url('fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Oswald Bold';
    src: url('fonts/Oswald-Bold.eot');
    src: url('fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Bold.woff') format('woff'),
    url('fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }